.header {
    padding: 1.6rem 10%;
    height: 18vh;
    display: flex;
    justify-content: space-between;

    &__info {
        display: flex;
        align-items: center;
    }

    &__icons {
        display: flex;
        align-items: center;

        @include respond(phone) {
            display: none;
        }
    }

    &__logo {
        width: 4.8rem;

        img {
            width: 100%;
        }
    }

    @include respond(tab-land) {
        padding: 1.6rem 8%;
    }
}

.main-nav {
    display: block;
    padding-right: 1.6rem;

    &__items {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
    }

    &__item {
        margin: 0 1.6rem;
        font-size: 1.5rem;

        a:hover,
        a:active {
            color: $color-grey-dark3;
        }

        @include respond(big-desktop) {
            font-size: 1.8rem;
        }
    }

    @include respond(tab-port) {
        display: none;
    }
}

.main-nav__item a,
.mobile-nav__item a {
    text-decoration: none;
    color: $color-grey-dark1;
}

.title {
    grid-column: 1/5;
    background-color: $color-primary;
    color: $color-white;
    text-align: center;
    padding: 2% 0 10% 0;
    position: relative;

    h1, p {
        font-size: 3.52rem;
        font-family: "IRANSans-Bold-FD";

        @include respond(phone) {
            font-size: 3rem;
        }
    }
}

#curve5 {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;

    path {
        fill: #fff;
    }
}

.breadcrumb {
    img {
        width: 0.8rem;
        height: 0.8rem;
    }

    a {
        color: $color-white;
        font-size: 1.5rem;
        padding: 0px 1.28rem;
        text-decoration: none;
        font-family: "IRANSans-FD";

        @include respond(phone) {
            font-size: 1.8rem;
        }

        @include respond(s-phone) {
            font-size: 1.6rem;
        }
    }

}

/* ---------------------------------------------------------- */
.toggle-button {
    display: none;

    @include respond(tab-port) {
        display: block;
        width: 3.84rem;
        background: transparent;
        border: 1px solid $color-black;
        border-radius: 3px;
        cursor: pointer;
        padding-top: 0;
        padding-bottom: 0;
        margin-left: 0.8rem;

        &:focus {
            outline: none;
        }

        &__bar {
            width: 100%;
            height: 0.192rem;
            background: $color-black;
            display: block;
            margin: 0.8rem 0;
        }
    }
}

/* ---------------------------------------------------------- */
.mobile-nav {
    transform: translateX(100%);
    position: fixed;
    z-index: 101;
    top: 0;
    right: 0;
    background: $color-white;
    width: 80%;
    height: 100vh;
    transition: transform 300ms ease-out;

    &__items {
        width: 90%;
        height: 100%;
        list-style: none;
        margin: 0 auto;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__item {
        margin: 1.6rem 0;
    }

    &__item a {
        font-size: 2.4rem;
    }
}