.btn {
    padding: .8rem 1.6rem;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.5rem;

    /*&--yellow {
        font-family: inherit;
        font-size: 1rem;
        outline: none;
        background: #deb15a;
        border: none;
        cursor: pointer;
        display: inline-block;
        width: 60%;
        margin-top: .5rem;
        font-family: "Shabnam-Bold";
        color: #fff;
    }*/

    &--yellow {
        color: $color-grey-dark1;
        background: $color-secondary;
    }

    &--white {
        color: $color-grey-dark1;
        background: $color-white;
    }

    &--blue {
        color: $color-white;
        background: $color-primary;
    }

    &--yellow:hover,
    &--yellow:active,
    &--white:hover,
    &--white:active,
    &--blue:hover,
    &--blue:active {
        box-shadow: 1px 1px 5px #cacaca;    
    }

    &--orange-outlined {
        color: $color-secondary;
        background: $color-white;
        border: 1.5px solid $color-secondary;
    }

    @include respond(jfc) {
        font-size: 2rem;
    }
}