.icon {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.5rem;
    display: inline-block;
}

.icon-before::before {
    content: "";
    width: 1.1rem;
    height: 1.1rem;
    display: inline-block;
    margin-left: 0.3rem;
    margin-bottom: -0.3rem;
}