@font-face {
    font-family: "IRANSans";
    src: url("../assets/fonts/IRANSansWeb.ttf") format("truetype");
}

@font-face {
    font-family: "IRANSans-Medium";
    src: url("../assets/fonts/IRANSansWeb_Medium.ttf") format("truetype");
}

@font-face {
    font-family: "IRANSans-Bold";
    src: url("../assets/fonts/IRANSansWeb_Bold.ttf") format("truetype");
}

@font-face {
    font-family: "IRANSans-FD";
    src: url("../assets/fonts/IRANSans(FaNum).ttf") format("truetype");
}

@font-face {
    font-family: "IRANSans-Bold-FD";
    src: url("../assets/fonts/IRANSans(FaNum)_Bold.ttf") format("truetype");
}

@font-face {
    font-family: "IRANSans-Black";
    src: url("../assets/fonts/IRANSansWeb(NoEn)_Black.ttf") format("truetype");
}