.main-nav__item a:hover,
.main-nav__item a:active {
    color: $color-grey-dark3;
}
.main-container {
    padding: 5% 10%;
}

.about-us {
    display: flex;
    flex-direction: column;

    &__pic {
        width: 100%;
        height: 15rem;
        background-image: url("../assets/img/video2.jpg");
        background-size: cover;
        background-position: center;
        border-radius: 5px;
        margin-bottom: 2rem;
    }
    &__text {
        width: 100%;
        h2, h3 {
            margin: 0;
        }
        p {
            text-align: justify;
        }
    }
    
}
@media (min-width: 40rem) {
    .about-us {
        flex-direction: row;
        &__pic {
            width: 50%;
            margin-bottom: 0;
            height: auto;
        }
        &__text {
            width: 50%;
            padding-right: 1.5rem;
        }
    }
}