.main-container {
    display: grid;
    grid-template-columns: 10% 1fr 3fr 10%;

    > section {
        grid-column: 2/4;
        padding: 0 10%;

        @include respond(s-phone) {
            padding: 0;
        }
    }

    @include respond(tab-land) {
        grid-template-columns: 10% 1fr 3fr 10%;
    }

    @include respond(tab-port) {
        grid-template-columns: 5% 1fr 2fr 5%;
    }

    @include respond(jfc) {
        grid-template-columns: 12% 1fr 3fr 12%;
    }

    @include respond(s-phone) {
        grid-template-columns: 10% 1fr 3fr 10%;
    }
}

.main-container2 {
    display: grid;
    grid-template-columns: 10% 1fr 3fr 10%;

    > section {
        grid-column: 2/4;
        padding: 0 10%;

        @include respond(jfc) {
            padding: 0;
        }
    }

    @include respond(tab-land) {
        grid-template-columns: 10% 1fr 3fr 10%;
    }

    @include respond(tab-port) {
        grid-template-columns: 5% 1fr 2fr 5%;
    }

    @include respond(jfc) {
        grid-template-columns: 5% 1fr 3fr 5%;
    }

    @include respond(s-phone) {
        grid-template-columns: 10% 1fr 3fr 10%;
    }
}

.course-sidebar {
    grid-column: 2/3;

    &__intro {
        text-align: center;
        border: 2px solid #d4d4d4;
        border-radius: 10px;
        padding: 0px 2rem 0.2rem 2rem;
        font-size: initial;

        &--voice {
            display: flex;
            align-items: center;
        }

        a {
            width: 100%;
            display: inline-block;
            margin: 1rem 0;

            @include respond(jfc) {
                font-size: 2.5rem;
            }
        }

        @include respond(jfc) {
            font-size: 2.5rem;
            padding: 0 7% 1rem 7%;
        }

        @include respond(s-phone) {
            margin-top: 10%;
            font-size: 2rem;
            padding: 0 7% 1rem 7%;
        }
    }

    &__level {
        display: block;
        color: $color-white;
        background: $color-primary;
        border-radius: 10px;
        text-align: center;
        padding: .5rem 2rem;
        margin-top: 1rem;

        p {
            font-size: 1.5rem;

            @include respond(jfc) {
                font-size: 2.4rem;
            }

            @include respond(s-phone) {
                font-size: 2.3rem;
            }
        }

        &--call {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin: 2rem 0;

            img {
                width: 2rem;
                height: 2rem;

                @include respond(jfc) {
                    width: 4rem;
                    height: 4rem;
                }
            }

            @include respond(jfc) {
                margin: 4rem 0;
            }
        }

        @include respond(jfc) {
            margin: 5% 0;
        }
    }

    @include respond(jfc) {
        grid-column: 2/4;
    }
}

div[class^="course-sidebar__intro--"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div[class^="course-sidebar__intro"] span {
    font-family: "IRANSans-Bold-FD";
}

div[class^="course-sidebar__intro"] p::before {
    content: "";
    width: 1.7rem;
    height: 1.7rem;
    display: inline-block;
    margin-left: 0.6rem;
    margin-bottom: -0.3rem;

    @include respond(jfc) {
        width: 3.3rem;
        height: 3.3rem;
        margin-left: 1rem;
        margin-bottom: -0.2rem;
    }

    @include respond(s-phone) {
        width: 3rem;
        height: 3rem;
    }
}

.course-sidebar__intro--vc p::before {
    background: url(../assets/icon/video-player.svg) center/cover no-repeat;
}

.course-sidebar__intro--duration p::before {
    background: url(../assets/icon/clock2.svg) center/cover no-repeat;
}

.course-sidebar__intro--certificate p::before {
    background: url(../assets/icon/medal.svg) center/cover no-repeat;
}

.course-sidebar__intro--price p::before {
    background: url(../assets/icon/coin.svg) center/cover no-repeat;
}

.course-content {
    grid-column: 3/4;
    padding-right: 5%;

    video {
        width: 100%;
    }

    p,
    ul {
        text-align: justify;
        font-size: 1.6rem;

        @include respond(jfc) {
            font-size: 2rem;
        }
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 2rem;

        @include respond(jfc) {
            font-size: 2.5rem;
        }
    }

    h4 {
        font-size: 1.8rem;

        @include respond(jfc) {
            font-size: 2.5rem;
        }
    }

    @include respond(jfc) {
        grid-column: 2/4;
        padding-right: 0;
    }
}

.suggested-courses {
    grid-column: 3/4;
    padding: 5% 5% 20% 0;

    h4 {
        font-size: 2.2rem;
        margin: 8% 0;

        @include respond(s-phone) {
            font-size: 2.7rem;
        }
    }

    @include respond(tab-land) {
        grid-column: 2/4;
        padding: 5% 0 20% 0;
    }
}

.courses {
    
    display: flex;
    align-items: center;
    //justify-content: space-between;
    margin-bottom: 3.2rem;

    &:first-child {
        margin-top: 5%;
    }

    &:last-child {
        margin-bottom: 15%;
    }

    @include respond(s-phone) {
        flex-direction: column;
        margin-bottom: 0;
    }
}

.course {
    width: 30%;
    border: 1px solid $color-grey-light2;
    border-radius: 3px;
    align-self: stretch;
    text-align: right;
    box-shadow: 1px 1px 6px #cacaca;

    &:hover {
        box-shadow: 1px 1px 12px #cacaca;
    }

    &:not(:last-child) {
        margin-left: 5%;
    }

    &__image {
        width: 100%;
        display: block;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }

    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1.6rem;
        border-bottom: 1px solid $color-grey-light2;
        font-size: 1.3rem;

        @include respond(jfc) {
            padding: 0 .5rem;
        }

        @include respond(s-phone) {
            font-size: 2.2rem;
            padding: 0 1.6rem;
        }
    }

    &__hour {
        font-family: "IRANSans-FD";

        &::before {
            content: "";
            width: 1.6rem;
            height: 1.6rem;
            display: inline-block;
            margin-left: 0.48rem;
            margin-bottom: -0.32rem;
            background: url(../assets/icon/clock.svg) center/cover no-repeat;
        }

        &::after {
            content: " ساعت ";
        }
    }

    &__user {
        font-family: "IRANSans-FD";

        &::before {
            content: "";
            width: 2.08rem;
            height: 2.08rem;
            display: inline-block;
            margin-left: 0.48rem;
            margin-bottom: -0.48rem;
            background: url(../assets/icon/users.svg) center/cover no-repeat;
        }

        &::after {
            content: " نفر ";
        }
    }

    &__buy {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 1.6rem;

        a {
            text-decoration: none;
            border-bottom: 1px dashed $color-black;
            font-size: 1.3rem;
            /*text-decoration-style: dotted;
            text-underline-position: under;*/
            color: $color-grey-dark1;

            &::after {
                content: "";
                width: .8rem;
                height: .8rem;
                display: inline-block;
                margin-right: 0.32rem;
                background: url(../assets/icon/left-arrow.svg) center/cover no-repeat;
            }

            @include respond(jfc) {
                order: 2;
                display: block;
                margin: 0 1rem 2rem 0;
                align-self: flex-start;
            }

            @include respond(s-phone) {
                font-size: 2.1rem;
                margin: 0;
                align-self: auto;
            }
        }

        @include respond(jfc) {
            flex-direction: column;
            padding-right: 0;
        }

        @include respond(s-phone) {
            flex-direction: row;
            padding-right: 1.6rem;
        }
    }

    &__title {
        font-family: "IRANSans-Bold-FD";
        padding: 0 1.6rem;
        margin-bottom: .8rem;
        font-size: 1.76rem;

        @include respond(jfc) {
            padding: 0 1rem;
        }

        @include respond(s-phone) {
            font-size: 2.5rem;
            padding: 0 1.6rem;
        }
    }

    &__description {
        margin: 0;
        padding: 0 1.6rem;
        font-size: 1.2rem;

        @include respond(jfc) {
            padding: 0 1rem;
        }

        @include respond(s-phone) {
            font-size: 2rem;
            padding: 0 1.6rem;
        }
    }

    &__price {
        font-family: "IRANSans-Bold-FD";
        color: $color-white;
        background-color: $color-primary;
        padding: .96rem;
        transform: translateX(-12px);
        position: relative;
        font-size: 1.3rem;

        &::after {
            content: "";
            width: 0;
            height: 0;
            border-bottom: 12px solid darken($color: $color-primary, $amount: 20%);
            border-left: 12px solid transparent;
            position: absolute;
            left: 0;
            top: -12px;
        }

        @include respond(jfc) {
            width: 100%;
        }

        @include respond(s-phone) {
            font-size: 2.4rem;
            order: 2;
            width: auto;
        }
    }

    @include respond(s-phone) {
        width: 100%;
        margin-bottom: 5rem;
    }
}

/* Course Details Content---------------------------------------------------------- */
.cd {
    display: flex;

    &h {
        display: flex;
        align-items: center;

        padding: 1rem 3rem;
        border-bottom: 1px solid #d8d8d8;

        &__lat {
            display: flex;
        }

        &__lb {
            height: 6rem;

            img {
                height: 100%;
            }
        }

        p {
            font-family: "IRANSans-FD";
            font-size: 1.8rem;
            padding-right: 2rem;
            margin-right: 2.5rem;
            border-right: 1px solid $color-black;
        }

        a {
            text-decoration: none;
            color: $color-black;
        }
    }

    &s {
        width: 25%;
        overflow-y: scroll;
        direction: ltr;
        height: calc(100vh - 85px);

        &__title {
            font-family: "IRANSans-Bold";
            border-bottom: 1px solid #d8d8d8;
            padding: 2rem;
            margin: 0;
            text-align: right;
            font-size: 1.6rem;

            @include respond(tab-port) {
                text-align: center;
            }
        }

        &__subject {
            font-family: "IRANSans-FD";
            font-size: 1.5rem;
            padding: 2rem;
            display: flex;
            justify-content: space-between;
            cursor: pointer;

            &s {
                direction: rtl;
                list-style: none;
                font-size: .9rem;
                padding: 0;
                margin: 0;

                .panel {
                    background-color: white;
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.2s ease-out;
                }
            }

            &:hover {
                background: #eee;
            }
        }

        @include respond(tab-port) {
            order: 2;
            width: 100%;
        }

    }

    &c {
        width: 75%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid #d8d8d8;
        background-image: url("../assets/img/back2.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 5% 12%;

        video {
            width: 100%;
        }

        @include respond(tab-port) {
            width: 100%;
        }

        @include respond(s-phone) {
            padding: 0;
        }
    }

    @include respond(tab-port) {
        flex-direction: column;
    }

}

.accordion {
    background-color: #f7f7f7;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: right;
    outline: none;
    font-size: 1.5rem;
    transition: 0.4s;
    position: relative;
    font-family: inherit;
    border-bottom: 1px solid $color-grey-light2;

    &::after {
        content: '\276F';
        position: absolute;
        left: 0;
        transform: rotate(270deg) translateY(20px);
    }
}

/* Exceptions ---------------------------------------------------------- */
#waveform {
    width: 100%;
}

#play-button {
    width: 2.5rem;
    height: 2.5rem;
}

#pause-button {
    width: 2.5rem;
    height: 2.5rem;
    display: none;
}

.last-hr {
    width: 100%;
    grid-column: 3/4;

    @include respond(tab-land) {
        grid-column: 2/4;
    }
}