/* Header---------------------------------------------------------- */
.main-nav__item a:hover,
.main-nav__item a:active {
    color: $color-grey-dark3;
}

/*.title {
    background: url("../assets/img/Shape3.png") 55% 50% no-repeat, $color-primary;
    grid-column: 1/6;
    text-align: center;
    padding: 2rem;

    h1 {
        font-size: 2.2rem;
    }
}

.breadcrumb {
    img {
        width: 0.5rem;
        height: 0.5rem;
    }

    a {
        padding: 0px 0.8rem;
        text-decoration: none;
        color: $color-grey-dark1;
    }

}*/

.main-container {
    display: grid;
    grid-template-columns: 10% 1fr 3fr 10%;
}

/* Sidebar---------------------------------------------------------- */
.course {
    &-sidebar {
        grid-column: 2/4;

        &__voice {
            display: flex;
            align-items: center;
        }
    }

    &-intro {
        text-align: center;
        font-size: 1.2rem;
    }

    &-buy {
        color: $color-white;
        background: $color-secondary;
        padding: .5rem 1rem;
        border-radius: 8px;
        text-decoration: none;
        width: 100%;
        display: inline-block;
        margin: 1rem 0;
    }

    &-level {
        display: none;
    }

    &-call {
        display: flex;
        justify-content: space-around;
        align-items: center;

        img {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

}

.course-buy:hover,
.course-buy:active {
    color: $color-secondary;
    background: $color-white;
    border: 1px solid $color-secondary;
}

#waveform {
    width: 100%;
}

#play-button {
    width: 1.5rem;
    height: 1.5rem;
}

#pause-button {
    width: 1.5rem;
    height: 1.5rem;
    display: none;
}

div[class^="course-sidebar__info"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div[class^="course-sidebar__info"] span {
    font-family: "Shabnam-Bold";
}

div[class^="course-sidebar__info"] .fd {
    font-family: "Shabnam-Bold-FD";
}

div[class^="course-sidebar__info"] p::before {
    content: "";
    width: 1rem;
    height: 1rem;
    display: inline-block;
    margin-left: 0.3rem;
    margin-bottom: -0.3rem;
}

.course-sidebar__info--vc p::before {
    background: url(../assets/icon/video-player.svg) center/cover no-repeat;
}

.course-sidebar__info--duration p::before {
    background: url(../assets/icon/clock.svg) center/cover no-repeat;
}

.course-sidebar__info--certificate p::before {
    background: url(../assets/icon/medal.svg) center/cover no-repeat;
}

.course-sidebar__info--price p::before {
    background: url(../assets/icon/coin.svg) center/cover no-repeat;
}

/*.people-buy {
    display: none;
    font-size: 0.8rem;
}*/

/* Content---------------------------------------------------------- */
.course-content {
    grid-column: 2/4;
    padding-top: 2rem;

    h2 {
        margin: 0;
    }

    p {
        text-align: justify;
    }

    video {
        width: 100%;
    }
}

.last-update {
    margin: 0.7rem 0;
    font-size: 0.8rem;
}

#suggested-courses {
    background: none;
    display: grid;
    grid-template-columns: 10% 1fr 3fr 10%;
    padding: 10% 0;

    .other-courses {
        grid-column: 2/4;

        .courses__title {
            text-align: right;

            h5 {
                font-size: 1.5rem;
                margin: 0;
            }
        }
    }
}

/* Course Details Content---------------------------------------------------------- */
.cd {
    display: flex;
    flex-direction: column;

    &h {
        display: flex;
        align-items: center;

        padding: .6rem 1rem;
        border-bottom: 1px solid #d8d8d8;

        &__lat {
            display: flex;
        }

        &__lb {
            height: 3.5rem;

            img {
                height: 100%;
            }
        }

        p {
            padding-right: 1rem;
            margin-right: 1rem;
            border-right: 1px solid $color-black;
        }

        a {
            text-decoration: none;
            color: $color-black;
        }
    }

    &s {

        order: 2;

        &__title {
            font-family: "Shabnam-Bold";
            border-bottom: 1px solid #d8d8d8;
            padding: 1rem;
            margin: 0;
            text-align: center;
        }

        &__subject {
            font-family: "Shabnam-FD";
            padding: 1rem;
            display: flex;
            justify-content: space-between;
            cursor: pointer;

            &s {
                list-style: none;
                font-size: .9rem;
                padding: 0;
                margin: 0;

                .panel {
                    background-color: white;
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.2s ease-out;
                }
            }

            &:hover {
                background: #eee;
            }
        }

    }

    &c {

        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid #d8d8d8;
        background-image: url("../assets/img/back2.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        video {
            width: 100%;
        }
    }

}

.accordion {
    background-color: #f7f7f7;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: right;
    outline: none;
    font-size: .9rem;
    transition: 0.4s;
    position: relative;
    font-family: inherit;
    border-bottom: 1px solid $color-grey-light2;

    &::after {
        content: '\276F';
        position: absolute;
        left: 0;
        transform: rotate(270deg) translateY(20px);
    }
}

@media (min-width: 40rem) {
    .course {
        width: 30%;
    }

    .course-sidebar {
        grid-column: 2/3;
    }

    .course-content {
        grid-column: 3/4;
        padding-right: 2rem;
        padding-top: 0;
    }

    .course-level {
        display: block;
        background: #e2b868;
        border-radius: 10px;
        text-align: center;
        padding: 1.2rem;
        margin-top: 1rem;
    }

    .course-intro {
        border: 2px solid #d4d4d4;
        border-radius: 10px;
        padding: 0px 1.2rem 0.2rem 1.2rem;
        font-size: initial;
    }

    .main-container {
        padding-top: 2.5rem;
    }

    #suggested-courses .other-courses {
        grid-column: 3/4;
        padding-right: 2rem;
    }

    #suggested-courses {
        padding: 5% 0;
    }

    .courses__list {
        justify-content: flex-start;
    }

    .cd {
        flex-direction: row;

        &s {
            direction: ltr;
            overflow-y: scroll;
            width: 25%;
            height: calc(100vh - 85px);
            order: 1;

            &__title {
                text-align: right;
            }

            &__subjects {
                direction: rtl;
            }
        }

        &c {
            width: 75%;
            order: 2;

            video {
                width: auto;
            }
        }
    }
}