.tab {
    display: flex;

    &Outer {
        border: 1px solid $color-grey-light2;
        border-radius: 20px;
        justify-content: space-evenly;
        padding: 2rem;
        width: 60%;
        margin: 5rem auto 2rem auto;

        button {
            background-color: transparent;
            font-family: inherit;
            font-size: 1.5rem;
            border-radius: 20px;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;

            &:hover {
                background-color: $color-grey-light1;
            }

            &.active {
                background-color: $color-secondary;
            }
        }

        @include respond(s-phone) {
            width: 100%;
        }
    }

    &Inner {
        margin-bottom: 2rem;

        button {
            background-color: transparent;
            font-family: inherit;
            font-size: 1.3rem;
            border-radius: 20px;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 12px 14px;
            transition: 0.3s;

            &:hover {
                background-color: $color-grey-light1;
            }

            &.active {
                background-color: lighten($color: $color-secondary, $amount: 12%);
            }
        }

        @include respond(phone) {
            margin: 0 auto;
        }
    }
}

.tabcontent1,
.tabcontent2 {
    display: none;
}

.tabcontent1:first-child,
.tabcontent2:first-child {
    display: block;
}

.tabcontainer {
    border: 1px solid $color-grey-light2;
    border-radius: 20px;
    margin-bottom: 20rem;

    &__header {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3rem auto 5rem auto;

        &--search {
            input {
                font-family: inherit;
                font-size: 1.3rem;
                padding: 12px;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                border: none;
                background-color: lighten($color: $color-grey-light1, $amount: 6%);
                outline: none;
                min-width: 20rem;
            }

            button {
                font-family: inherit;
                font-size: 1.3rem;
                padding: 12px;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                border: none;
                background-color: lighten($color: $color-grey-light1, $amount: 6%);
                position: relative;
                right: -3px;
                outline: none;
                cursor: pointer;
            }

            @include respond(phone) {
                margin: 3rem auto 0 auto;
            }
        }

        @include respond(jfc) {
            width: 100%;
        }
    }

    &__content {
        text-align: center;
        margin-bottom: 4rem;

        &--qa {
            border: 1px solid $color-grey-light1;
            border-radius: 20px;
            width: 80%;
            margin: 0 auto 2rem auto;
        }
    }
}

.question {
    background-color: lighten($color: $color-grey-light1, $amount: 8%);
    font-family: "IRANSans-Medium";
    font-size: 1.4rem;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    border-radius: 20px;
    text-align: right;
    outline: none;
    transition: 0.4s;

    &::after {
        content: '\002B';
        color: #777;
        font-weight: bold;
        float: left;
        margin-left: 5px;
    }

    &.active {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        &:after {
            content: "\2212";
        }
    }
    
}

.panel {
    text-align: justify;
    font-size: 1.3rem;
    display: none;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}