.login {
    display: flex;
    height: 100vh;

    &__white {
        width: 100%;
        background: #f7f7f7;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 3.5rem;
        border-radius: 2px;

        .logo {
            height: 6rem;
            margin-bottom: 1rem;
        }
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: .5rem;

        img {
            width: 2rem;
            height: 2rem;
        }

        p {
            font-family: "Shabnam-Bold";
            font-size: 1.2rem;
        }
    }

    &__orange {
        display: none;
    }

    &__pic {
        width: 70%;
        height: 80vh;
        background: linear-gradient(to bottom, rgba(220, 114, 50, 0.6), transparent), url("../assets/img/demo2.jpg") center/cover;
        box-shadow: -6px 1px 8px 0px #3838383d;
        border-radius: 2px;
    }
}

.prq {
    margin-top: 1rem;
    display: block;
    text-decoration: none;
    font-size: .8rem;
    color: darken($color: $color-secondary, $amount: 7%);
    font-family: "Shabnam-Bold";
    text-align: center;

    &:hover {
        color: darken($color: $color-secondary, $amount: 15%);
    }
}

.new-user {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .85rem;

    a {
        color: darken($color: $color-secondary, $amount: 7%);
        font-family: "Shabnam-Bold";
        text-decoration: none;
        padding-right: .5rem;

        &:hover {
            color: darken($color: $color-secondary, $amount: 15%);
        }
    }
}

@media (min-width: 40rem) {
    .login {
        &__white {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            background-color: white;
        }

        &__content {
            width: 70%;
            height: 80vh;
            box-shadow: 2px 2px 8px #3838383d;
            padding: 5.5rem;
            .logo {
                display: none;
            }
        }

        &__orange {
            width: 50%;
            background: #efa874;
            display: flex;
            align-items: center;
        }
    }
}