.main-header {
    background: white;
}
.main-header__bottom--icons .icons {
    width: 2rem;
    height: 2rem;
    padding-right: 1rem;
}
.main-nav {
    font-size: 0.9rem;
}
.main-header__bottom {
    height: auto;
}
.main-header__bottom--icons .register {
    font-size: 0.9rem;
}
.main-nav__item a:hover,
.main-nav__item a:active {
    color: #999;
}
.main-header__bottom--icons .register:hover,
.main-header__bottom--icons .register:active {
    color: #dc7232;
    background: white;
    border: 1px solid #dc7232;
}
.breadcrumb img {
    width: 0.5rem;
    height: 0.5rem;
}
.breadcrumb a {
    padding: 0px 0.8rem;
    text-decoration: none;
    color: #151515;
}
.title {
    background: url("../img/Shape3.png") 55% 50% no-repeat #e2b868;
    grid-column: 1/6;
    text-align: center;
    padding: 2rem;
}
.title h1 {
    font-size: 2.2rem;
}
.main-container {
    display: grid;
    grid-template-columns: 5% 1fr 3fr 5%;
    padding-top: 2.5rem;
}
.course-content {
    grid-column: 3/4;
    padding-right: 2rem;
}
.course-content h2 {
    margin: 0;
}
.last-update {
    margin: 0.7rem 0;
    font-size: 0.8rem;
}
.fd {
    font-family: "Shabnam-FD";
}
.course-sidebar {
    grid-column: 2/3;
    border: 2px solid #d4d4d4;
    border-radius: 10px;
    text-align: center;
    padding: 0px 1.2rem;
}
.course-sidebar__voice {
    display: flex;
    align-items: center;
}
#waveform {
    width: 100%;
}
#play-button {
    width: 1.5rem;
    height: 1.5rem;
}
#pause-button {
    width: 1.5rem;
    height: 1.5rem;
    display: none;
}